body {
    background-color: rgb(247, 227, 230);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 122px auto;
    max-width: 600px;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(247, 227, 230);


}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1px;
    text-align: center;
    padding: 20px 0;
    color: rgb(50, 50, 94);
}

.form-container {
    background: #f9f7fe;
    padding: 10px;
    border-radius: 10px;

}

form {
    display: flex;

}

.hint {
    line-height: 15px;
    font-size: 13px;
    margin-top: 2px;
    opacity: 0.6;
    margin-left: 9px;



}

.instructions {
    padding: 10px;
    border-radius: 20px;
    width: 55%;
    line-height: 20px;
    font-size: 15px;
    border: 1px solid rgb(50, 50, 94);
    color: rgb(50, 50, 94);
    margin-left: 9px;
}

.submit-button {
    padding: 14px 24px;
    font-size: 15px;
    border: 1px solid rgb(50, 50, 94);
    margin-left: 10px;
    width: 20%;
    border-radius: 20px;
    background-color: rgb(50, 50, 94);
    color: white
}

.story {
    font-size: 15px;
    line-height: 24px;
    background-color: #f9f7fe;
    border-left: 3px solid rgb(50, 50, 94);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: rgb(50, 50, 94);
}

.generating {
    animation: blink 1s steps(1) infinite;

}

@keyframes blink {
    50% {
        color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        color: transparent;
    }
}